# Video Game Sales Analysis Project
## Project Overview

In this project, you'll analyze video game sales data to identify patterns that determine a game's success. Working as an analyst for the online store Ice, you'll use this information to help plan future advertising campaigns.

## Environment Setup and Required Libraries

In [4]:
# Import all required libraries
import pandas as pd
import numpy as np 
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [5]:
#load the dataset
data_games = pd.read_csv('video games.csv')

## Step 1: Loading and Initial Data Exploration

First, let's load our dataset and examine its basic properties:

In [6]:
# Display basic information about the data
data_games.info()
data_games.head
data_games.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.0,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.0,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.0,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.0,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.0,NaN,NaN,NaN

List of the categories in the games database as follows: Platform, Year of release, Genre, NA_sales, EU sales, JP_sales, OtherNA, critic scores, Users, Rating.

In [7]:
# Check for duplicate entries
data_games.duplicated().sum()

0

 Further analysis shows there were no duplicates found in the database. There 
 were several columns that had missing values and some values had values 
 of "tbd" or essentially null" or "NA".

### Key Questions to Answer:
- What's the total number of records in our dataset?
- What data types are present in each column?
- Are there any obvious issues with the data?
- Do we see any immediate patterns or anomalies?

## Step 2: Data Preparation

### 2.1 Standardizing Column Names

In [8]:
# Convert column names to lowercase
data_games.columns = data_games.columns.str.lower()

In [9]:
# Verify the changes
data_games.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

### 2.2 Data Type Conversion

In [10]:
# Check current data types
data_games.dtypes
# Select columns with specific data types
data_games.select_dtypes(include=['object', 'int64', 'float64', 
'bool','datetime','category', 'number', 'string']).columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

In [11]:
# Make changes to data types if necessary
# Describe the columns where the data types have been changed and why.
data_games.describe()
data_games.describe(include='all')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
count,16713,16715,16446.000000,16713,16715.000000,16715.000000,16715.000000,16715.000000,8137.000000,10014,9949
unique,11559,31,NaN,12,NaN,NaN,NaN,NaN,NaN,96,8
top,Need for Speed: Most Wanted,PS2,NaN,Action,NaN,NaN,NaN,NaN,NaN,tbd,E
freq,12,2161,NaN,3369,NaN,NaN,NaN,NaN,NaN,2424,3990
mean,NaN,NaN,2006.484616,NaN,0.263377,0.145060,0.077617,0.047342,68.967679,NaN,NaN
std,NaN,NaN,5.877050,NaN,0.813604,0.503339,0.308853,0.186731,13.938165,NaN,NaN
min,NaN,NaN,1980.000000,NaN,0.000000,0.000000,0.000000,0.000000,13.000000,NaN,NaN
25%,NaN,NaN,2003.000000,NaN,0.000000,0.000000,0.000000,0.000000,60.000000,NaN,NaN
50%,NaN,NaN,2007.000000,NaN,0.080000,0.020000,0.000000,0.010000,71.000000,NaN,NaN
75%,NaN,NaN,2010.000000,NaN,0.240000,0.110000,0.040000,0.030000,79.000000,NaN,NaN
max,NaN,NaN,2016.000000,NaN,41.360000,28.960000,10.220000,10.570000,98.000000,NaN,NaN

In [12]:
# Pay attention to the abbreviation TBD (to be determined). Specify how you intend to handle such cases.
# TBD values are often used when data is not available.
# We can replace TBD with NaN to handle them as missing values.
data_games.replace('TBD', np.nan, inplace=True)
data_games.isnull().sum()
data_games.isna().sum()

name                  2
platform              0
year_of_release     269
genre                 2
na_sales              0
eu_sales              0
jp_sales              0
other_sales           0
critic_score       8578
user_score         6701
rating             6766
dtype: int64

### 2.3 Handling Missing Values

In [13]:
# Examine missing values
# Calculate the percentage of missing values in each column
data_games.missing_percentage = data_games.isnull().mean() * 100
# Display the percentage of missing values in each column
missing_percentage = data_games.isnull().mean() * 100
# Drop columns with a high percentage of missing values
columns_to_drop = missing_percentage[missing_percentage > 50].index
data_games.drop(columns=columns_to_drop, inplace=True)
# Verify that the columns have been dropped
data_games.isnull().sum().sort_values(ascending=False)
# Fill missing values in the 'rating' column with the mode
data_games['rating'].fillna(data_games['rating'].mode()[0], inplace=True)
# Fill missing values in the 'platform' column with the mode
data_games['platform'].fillna(data_games['platform'].mode()[0], inplace=True)
# Fill missing values in the 'genre' column with the mode
data_games['genre'].fillna(data_games['genre'].mode()[0], inplace=True)
# Fill missing values in the 'year of release' column with the mode
data_games['year_of_release'].fillna(data_games['year_of_release'].mode()[0], inplace=True)
# Fill missing values in the 'name' column with the mode
data_games['name'].fillna(data_games['name'].mode()[0], inplace=True)
# fill missing values in the 'user score' column with the mean
data_games['user_score'].fillna(data_games.mode()['user_score'][0], inplace=True)
# Fill missing values in the 'critic score' column with the mean
# Verify that the missing values have been filled
data_games.isna().sum()
data_games.isnull().sum()

C:\Users\bsully\AppData\Local\Temp\ipykernel_36208\3215051354.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data_games.missing_percentage = data_games.isnull().mean() * 100

name               0
platform           0
year_of_release    0
genre              0
na_sales           0
eu_sales           0
jp_sales           0
other_sales        0
user_score         0
rating             0
dtype: int64

Verified that there were no missing values in any of the following columns in the dataset
Used the fillna and fillnull methods in each category to make sure any missing values were filled.

In [14]:
# Calculate percentage of missing values
missing_percentage = [data_games.isnull().mean() * 100]
# Display the percentage of missing values

In [15]:
# Analyze patterns in missing values

In [16]:
# Handle missing values based on analysis
# Your code here to handle missing values according to your strategy

In [17]:
# Why do you think the values are missing? Give possible reasons.
# Explain why you filled in the missing values as you did or why you decided to leave them blank.

### 2.4 Calculate Total Sales

In [18]:
# Calculate total sales across all regions and put them in a different column

# Step 3: Analyzing Video Game Sales Data

## 3.1 Temporal Analysis of Game Releases
Let's first examine the distribution of game releases across different years to understand our data's coverage and significance:

In [19]:
# Create a DataFrame with game releases by year

In [20]:
# Visualize the distribution of games across years

In [21]:
# Display summary statistics for each year

### Questions to Consider:
- Which years show significant numbers of game releases?
- Are there any notable trends or patterns in the number of releases?
- Is there enough recent data to make predictions for 2017?

## 3.2 Platform Sales Analysis Over Time

Now let's analyze how sales vary across platforms and years:

In [22]:
# Calculate total sales by platform and year

In [23]:
# Create a heatmap of platform sales over time

In [24]:
# Identify platforms with declining sales

### Questions to Consider:
- Which platforms show consistent sales over time?
- Can you identify platforms that have disappeared from the market?
- What's the typical lifecycle of a gaming platform?

## 3.3 Determining Relevant Time Period

Based on your analysis above, determine the appropriate time period for predicting 2017 sales:

In [25]:
# Your code here to filter the dataset to relevant years
# Example:
# relevant_years = [XXXX, XXXX, XXXX] # Replace with your chosen years
# df_relevant = df[df['year_of_release'].isin(relevant_years)]

# Justify your choice with data

### Document Your Decision:
- What years did you select and why?
- How does this period reflect current market conditions?
- What factors influenced your decision?

## 3.4 Platform Performance Analysis

Using your selected time period, let's analyze platform performance:

In [26]:
# Analyze platform sales trends

In [27]:
# Sort platforms by total sales

In [28]:
# Visualize top platforms
# Calculate year-over-year growth for each platform
# Your code here to calculate and visualize platform growth rates

## 3.5 Sales Distribution Analysis

Let's examine the distribution of sales across platforms:

In [29]:
# Create box plot of sales by platform

In [30]:
# Calculate detailed statistics for each platform

## 3.6 Review Score Impact Analysis

Select a popular platform and analyze how reviews affect sales:

In [31]:
# Choose a popular platform based on your previous analysis

In [32]:
# Create scatter plots for both critic and user scores

In [33]:
# Critic Scores



# User Scores


# Calculate correlations

## 3.7 Cross-Platform Comparison

Compare sales performance of games across different platforms:

In [34]:
# Find games released on multiple platforms

In [35]:
# Compare sales across platforms for these games
# Your code here to analyze and visualize cross-platform performance

## 3.8 Genre Analysis

Finally, let's examine the distribution of games by genre:

In [36]:
# Analyze genre performance

In [37]:
# Sort genres by total sales

In [38]:
# Visualize genre distribution

In [39]:
# Calculate market share for each genre

### Key Questions for Genre Analysis:
- Which genres consistently perform well?
- Are there any genres showing recent growth or decline?
- How does the average performance vary across genres?

# Step 4: Regional Market Analysis and User Profiles

In this section, we will analyze the gaming market characteristics across three major regions: North America (NA), Europe (EU), and Japan (JP). Our analysis will focus on platform preferences, genre popularity, and the impact of ESRB ratings in each region.

## 4.1 Regional Platform Analysis

Let's begin by examining platform performance across different regions:

In [40]:
# Function to analyze platform performance by region

In [41]:
# Analyze each region

### Cross-Regional Platform Comparison

Let's create a comparative analysis of platform performance across regions:

In [42]:
# Create a comparative platform analysis

In [43]:
# Visualize cross-regional comparison for top platforms

## 4.2 Regional Genre Analysis

Now let's examine genre preferences across regions:

In [44]:
# Function to analyze genre performance by region

### Cross-Regional Genre Comparison

Let's compare genre preferences across regions:

In [45]:
# Create a comparative genre analysis

## 4.3 ESRB Rating Impact Analysis

Finally, let's examine how ESRB ratings affect sales in each region:

In [46]:
# Function to analyze ESRB rating impact

In [47]:
# Analyze ESRB impact for each region

# Step 5 : Hypothesis Tests

—Average user ratings of the Xbox One and PC platforms are the same.

—Average user ratings for the Action and Sports genres are different.

Set the *alpha* threshold value yourself.

Explain:

—How you formulated the null and alternative hypotheses

—What criteria you used to test the hypotheses~~,~~ and why

# Step 6. Write a general conclusion